.review-set, .features-set {
  margin: 0;
  padding: 0%;
  list-style: none;
}

.review-item, .company-logo {
  text-decoration: none;
  color: currentColor;
}

body {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  /* Mobile screen */
  /* Tablet styles */
  /* Desktop styles */
}
@media screen and (min-width: 480px) {
  body {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  body {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1200px;
  }
}

/* .conteiner {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width:768px) {
    max-width: 738px;
  }


  @media screen and (min-width:1200px) {
    max-width: 1200px;
  }
} */
.section {
  margin-bottom: 50px;
}

.conteiner {
  /* Breakpoints */
  /* mobile - 480px
  tablet - 768pxpx
  desktop - 1200px */
  /* Mobile first */
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
  /* Mobile screen */
  /* @media screen and (min-width:480px) {
    width: 480px;
  } */
  /* Tablet styles */
  /* @media screen and (min-width:768px) {
    max-width: 738px;
  } */
  /* Desktop styles */
  /* @media screen and (min-width:1200px) {
    max-width: 1200px;
  } */
}

.page-header {
  /* position: relative; */
}

.nav {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
}

.company-logo {
  display: block;
  background-color: rgb(139, 178, 245);
  padding: 15px;
  text-align: center;
  width: 150px;
  border-radius: 10px;
}

.menu-button {
  display: inline-flex;
  margin: 0%;
  padding: 0%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-conteiner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: rgb(117, 186, 186);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.menu-conteiner.is-open {
  display: block;
}

.section-title {
  text-align: center;
}

.features-conteiner {
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .features-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;
  }
}
@media screen and (min-width: 1140px) {
  .features-set {
    margin: -10px;
  }
}

.features-item {
  background-color: antiquewhite;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.features-item:hover, .features-item:focus {
  border: 3px solid rgb(26, 24, 20);
  background-color: rgba(205, 230, 123, 0.547);
}
@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 20px) / 2);
    margin: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 60px) / 3);
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 767px) {
  .review-set {
    /* margin-bottom: -10px; */
  }
}

.review-item {
  text-align: center;
  padding: 15px;
  background-color: lightcoral;
  border: 1px solid black;
  border-radius: 5px;
}
@media screen and (min-width: 767px) {
  .review-item {
    /* width: calc((100% - 3 * 20px) / 3); */
    width: 50%;
    /* margin-bottom: 10px; */
  }
}

@media screen and (max-width: 767px) {
  .review-item:not(:last-child) {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */